@import "../../styles/variables";

.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: $desktop-screen;
  display: flex;
  gap: 20px;
  .listSearch {
    flex: 1;
    background-color: $secondary-color;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    .lsTitle {
      color: #555;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .lsItem {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 10px;
      & > label {
        font-size: 12px;
      }
      & > input {
        height: 30px;
        border: none;
        padding: 5px;
      }
      & > span {
        height: 30px;
        border: none;
        padding: 5px;
        background-color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }
  }
}

.lsSearchItem > button{
  padding: 10px;
  background-color: $btn-bg;
  border: none;
  color: #fff;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}
.lsOptions{
  padding: 10px;
}

.lsOptionsItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
  .lsOptionInput{
    width: 80px;
  }
}

.listResult {
  flex: 3;
}
