@import "../../styles/variables";

.footer {
  width: 100px;
  width: $desktop-screen;
  font-size: 12px;
  margin: 20px auto;
}

.fLists {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.fList{
  list-style-type: none;
  padding: 0px;
}

.fListItem{
  color: $primary-color;
  margin-bottom: 10px;
  cursor: pointer;
}

.fText{
  font-size: 16px;
  margin-bottom: 10px;
}